
/* YOUR CUSTOM STYLES */
.welcome{
  text-align: center !important;
}
.logo-top{
  width: 2rem;
  margin-left: 50px;
}
.personal-stats{
  height: 220px;
  border: 2px solid black;
}
.stats-cont{
  height: 12rem;
}
.profile-pic{
  border-radius: 100%;
}
.trophy-case{
  border-left: 2px solid black;
  padding-left: 2rem;
}
.trophy-title{
  padding-left: 2rem;
}
.mastery-badge{
  width: 5rem;
  margin: 2px;
  margin-left: 1.4rem;
}
.vcenter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.badge-cont{
  height: 8rem;
}
.chart-title{
  text-align: center;
}
.badges{
  width: 30px;
}
=======
.menu-logo {
  height: 100%;
  display: inline-block; }

.logo-wrapper::after {
  content: "SpeakUp";
  font-family: 'Open Sans', sans-serif;
  color: white; }

.logo-name {
  font-family: 'Open Sans', sans-serif; }

.new-recording-container {
  background-color: #ffab40; }

.speech-record {
  padding: 10px;
  box-sizing: border-box; }
  .speech-record i:hover {
    opacity: .8;
    cursor: pointer; }
  .speech-record .play {
    color: #FAFAFA; }
  .speech-record .pause {
    color: #1E88E5; }
  .speech-record .stop {
    color: #433A3F; }

.new-recording {
  display: inline-block;
  position: relative;
  top: 50px;
  left: 20px; }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none; }
  .vcenter h3 {
    color: #FAFAFA;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

.feed-card {
  width: 100%; }

.mdb-skin .card .btn-action.card-badge {
  background: #23CE6B;
  pointer-events: none; }

.card-block {
  padding-bottom: 0; }
  .card-block hr {
    margin-bottom: 1rem; }

.card-charts.card-header {
  color: #FAFAFA;
  background-color: #1E88E5; }

.chart.row .chart-label {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  color: #ffab40; }

.ctx-chart {
  height: 100px !important;
  width: auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em; }
  .ctx-chart .filler-word {
    color: #F7464A;
    border: 2px solid #F7464A; }
  .ctx-chart .accessibility-score {
    color: #23CE6B;
    border: 2px solid #23CE6B; }

.chart-break {
  padding-top: 5px;
  margin: 0px !important; }

.card-header a {
  color: #FAFAFA; }


.red{
  background-color: #1E88E5 !important;
}

.switch-container .lever {
  background-color: #23CE6B; }

.switch label input[type=checkbox]:checked + .lever {
  background-color: rgba(35, 206, 107, 0.3); }
  .switch label input[type=checkbox]:checked + .lever:after {
    background-color: #23CE6B; }

.switch label {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em; }

.switch {
  margin-bottom: 15px; }
  .switch.last {
    margin-bottom: 120px; }

.personal-stats .fa-long-arrow-up {
  color: #1E88E5;
}

.personal-stats .fa-long-arrow-down {
  color: #ffab40;
}

.personal-stats .fa-bolt {
  color: #23CE6B;
}

.personal-stats .fa-group {
  color: #1E88E5;
}

.personal-stats .fa-futbol-o {
  color: #ffab40;
}

.personal-stats .fa-microphone {
  color: #23CE6B;
}

/*# sourceMappingURL=style.css.map */
